//To run from root directory:
//sass docs/src/scss/app.scss docs/src/css/bootstrap.css



//Bootstrap theme color overrides
$primary: #6082b6;
$secondary: #0FE5FF;
$light: #f2f2f2;
$dark: #1b171b;

// Bootstrap and its default variables
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

//Modifications that use $variables must go below the bootstrap css import,
//otherwise the $variable will not be recognized.

//sets border of hamburger to be secondary
body .custom-toggler.navbar-toggler {
    border-color: $secondary;
}

//sets nav links and brand to be secondary
.nav-link, .navbar-brand {
    color: $secondary;
}