// My variables
html body .heading{
  font-family: 'Courier New';
}

html,
body,
header,
#intro {
  height: 100%;
}

#intro {
  background: url("../../assets/background_planets.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; 
  overflow: hidden;
}

$theme-colors: (
    "primary": #ffffff,
    "danger": #990033
);

body .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(102,204,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body .custom-toggler.navbar-toggler {
  border-color: rgb(102, 204, 255);
} 

.icon {
  height: 15%;
  width: 30%;
  margin-left: 8%;
  margin-right: 8%;
}

.companyIcon {
  height: 20%;
  width: 40%;
  display: block;
}

#myNavbar {
  top: -0%;
  transition: top 300ms ease;
}

#myNavbar:-webkit-scrollbar {
  top: -6%;
}


.cardWidth {
  //s
  @media (min-width: 576px) {

  }
  //md
  @media (min-width: 768px) {

  }
  //lg
  @media (min-width: 992px) {

  }
  //xl
  @media (min-width: 1200px) {

  }
}

body .img-fluid {
  max-width: 50%;
}

.buttonLink:hover  {
  color: white;
}

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap";