//To run from root directory:
//sass client/src/scss/app.scss client/src/css/bootstrap.css

html body .heading{
  font-family: 'Courier New';
}

html,
body,
header,
#intro {
  height: 100%;
}

#intro {
  // background: url("../../assets/background_planets.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; 
  overflow: hidden;
}

body .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.icon {
  height: 15%;
  width: 30%;
  margin-left: 8%;
  margin-right: 8%;
}

.companyIcon {
  height: 20%;
  width: 40%;
  display: block;
}

#myNavbar {
  top: -0%;
  transition: top 300ms ease;
}

#myNavbar:-webkit-scrollbar {
  top: -6%;
}

.buttonLink {
  transition: color 300ms ease;
}

.buttonLink:hover  {
  color: white;
}

.cursor-default {
  cursor: default !important;
}

//for image-backgrounds to work, parent must be position: relative;
.image-background-center {
  position: absolute;
  width: 40rem;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  // top: 50%;
  opacity: 0.1;
  z-index: -1;
  max-width: 100%;
}

@media(min-width: 992px) {
  .image-background-lg-left {
    position: absolute;
    width: 40rem;
    left: -50%;
    right: 0;
    margin: auto;
    bottom: 0;
    // top: 50%;
    top: 0;
    opacity: 0.1;
    // transform: rotate(-5deg);
    z-index: -1;
    max-width: 100%;
  }
}

@media(min-width: 992px) {
  .image-background-lg-right {
    position: absolute;
    width: 40rem;
    right: -50%;
    margin: auto;
    bottom: 0;
    // top: 50%;
    top: 0;
    opacity: 0.1;
    // transform: rotate(-5deg);
    z-index: -1;
    max-width: 100%;
  }
}

@media(min-width: 992px) {
  .scooch-lg-right {
    left: -30%;
  }
}

@media(min-width: 992px) {
  .scooch-lg-down {
    top: 100% !important;
  }
}

.image-background-left {
  position: absolute;
  width: 40rem;
  // left: -30%;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  // top: 50%;
  top: 0;
  opacity: 0.1;
  // transform: rotate(-5deg);
  z-index: -1;
  max-width: 100%;
}
.image-background-right {
  position: absolute;
  width: 40rem;
  left: 0%;
  // right: -30%;
  right: 0;
  margin: auto;
  bottom: 0;
  // top: 50%;
  top: 0;
  opacity: 0.1;
  // transform: rotate(5deg);
  z-index: -1;
  max-width: 100%;
}

#myVideo {
  position: absolute;
  left: 0;
  right: 0;
  height: auto;
  min-width: 100%;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.fake-button {
  //remove hover effect
  pointer-events: none !important;
  //mx-2
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
  //my-1
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
  //cursor-default
  cursor: default !important;
}

.fake-button-padded {
  //remove hover effect
  pointer-events: none !important;
  //mx-2
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
  //my-1
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
  //cursor-default
  cursor: default !important;
  //px-4
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

$primary: #9bc4e2;
$secondary: #6082B6;
$light: #f2f2f2;
$dark: #100E0E;

// Bootstrap and its default variables
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

body .custom-toggler.navbar-toggler {
  border-color: $primary;
} 